# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Large binaries & tools
cloudflared.exe

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment files
.env
.env.local
.env.*.local
.vercel
